@page "/login"
@using Blazored.FluentValidation
<head>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<header class="header position-relative">
    <div class="icon">
        <i @onclick="NavigateToHome" class="fas fa-arrow-left" aria-hidden="true"></i>
    </div>
    <a class="logo"><span>L</span>ife <span>C</span>hanger</a>
    <div class="icon">
        <AuthorizeView>
            <i>Hello , @(context.User.Identity!.Name)</i>
            <i @onclick="LogoutAsync">Log Out</i>
        </AuthorizeView>
    </div>
</header>
<div class="login-form">
    <EditForm Model="@viewModel" OnValidSubmit="HandleValidSubmitAsync"  >
        <FluentValidationValidator></FluentValidationValidator>
        <h3>login</h3>
        <div class="form-group">
            <label>Email</label>
            <InputText class="box" @bind-Value="@viewModel.Email" placeholder="Enter your email" />
            <ValidationMessage For="@(() => viewModel.Email)" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <InputText class="box" @bind-Value="@viewModel.Password" type="password" placeholder="Enter your password" />
            <ValidationMessage For="@(() => viewModel.Password)" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Login Now</button>
        </div>
        @if (ShowErrors)
         {
            <div class="validation-message">
                @Error
            </div>
         }
        <div class="form-group">
            <label>
                <input type="checkbox" id="remember" @bind="@viewModel.RememberMe" />
                Remember me
            </label>
        </div>
        <p>forget password? <a href="">click here</a></p>
        <p>don't have acount? <a href="/Register">sign up</a></p>
    </EditForm>
</div>